/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 80%;
  margin: 0;
  padding: 0;
}

#map {
  width: 800px;
  height: 600px;
}

.marker {
  background-image: url("/static/images/waypoint.png");
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.first-marker {
  /* replace with properly designed image
  background-image: url("/static/images/waypoint.png"); */
  background-color: white;
}

.last-marker {
  /* replace with properly designed image
  background-image: url("/static/images/waypoint.png"); */
  background-color: white;
}

.playlist-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.playlist-item img {
  width: 150px;
  height: 150px;
  justify-self: center;
}

.playlist-item .track-name {
  font-weight: bold;
}

.playlist-item .track-artist {
  font-style: italic;
}

.track-img {
  width: 150px;
  height: 150px;
}
