/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
/* Optional: Makes the sample page fill the window. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #b188e5;
  overflow: hidden;
}

.rounded-btn {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #b188e5;
  color: white;
  border: none;
  cursor: pointer;
}

/* ------- NAVIGATION -------- */

.nav-wrapper {
  background-color: rgba(50, 0, 115, 0.6);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  width: 98%;
  left: 50%;
  margin-left: -49%;
  z-index: 2;
}

.nav-content {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
}

.nav-content li {
  list-style-type: none;
  text-align: center;
}

.nav-content a {
  text-decoration: none;
  color: white;
  /* max-height: 50px; */
}

.nav-logo-wrapper {
  /* font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px; */
  max-height: 50px;
}

.nav-logo {
  height: 50px;
}

.nav-user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  /* margin-right: 10px; */
}

.nav-user-msg {
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 400;
  text-align: end;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
}

/* ------- MAP -------- */
.mainpage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 100vw; */
}

.map-container {
  flex: 1;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

/* ------- USER PREFERENCES -------- */

#data-container {
  position: absolute;
  background-color: white;
  padding: 20px;
  right: 20px;
  top: 8%;
  height: 80%;
  max-width: 40%;
  border-radius: 20px;
  border: 5px solid rgba(50, 0, 115, 0.6);
  background-clip: padding-box;
  overflow-y: scroll;
}

.route-data-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.distance-content,
.elevation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.route-data-btn {
  background-color: #320070;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin: 10px 10px 0 10px;
  cursor: pointer;
  width: 75%;
}

.route-data-span {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}

.route-data-label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #757575;
}

.target-popularity-container {
  width: 100%;
}

#target-popularity {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

#target-popularity:hover {
  opacity: 1;
}

#target-popularity::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #320070;
  cursor: pointer;
}

/* ------- GENRES -------- */
.form-genres-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 500px;
}

.checkbox-field {
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  overflow: hidden;
}

.checkbox-field input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.form-label {
  color: white;
  background-color: #dddddd;
  padding: 4px 20px;
}

.checked {
  background-color: #757575;
}

.marker {
  background-image: url("/static/images/waypoint.png");
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.first-marker {
  /* replace with properly designed image
  background-image: url("/static/images/waypoint.png"); */
  background-color: white;
}

.last-marker {
  /* replace with properly designed image
  background-image: url("/static/images/waypoint.png"); */
  background-color: white;
}

#save-route-form label {
  display: block;
}

/* ------- PLAYLIST -------- */

.playlist-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.playlist-item img {
  width: 150px;
  height: 150px;
  justify-self: center;
}

.playlist-item .track-name {
  font-weight: bold;
}

.playlist-item .track-artist {
  font-style: italic;
}

.track-img {
  width: 150px;
  height: 150px;
}

/* ------- USER PROFILE -------- */
.body-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 80vh;
  background-color: #f3f3f3;
  width: 90%;
  border-radius: 20px;
}

.saved-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 20px 40px;
  color: #320070;
}

.saved-wrapper {
  overflow-y: scroll;
}

.route-card {
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  height: 250px;
  background-color: #320070;
  position: relative;
  overflow: hidden;
}

.route-card-background,
.route-card-img,
.route-card-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.route-card-img {
  object-fit: cover;
}

.route-card-gradient {
  background-image: linear-gradient(
    to right,
    rgba(50, 0, 112, 1) 30%,
    transparent
  );
}

.route-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 60%;
  position: relative;
  z-index: 1;
}

.route-card-title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
}

.route-card-description {
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.route-card-buttons {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.route-card-load {
  background-color: #6fbd77;
  border: none;
  border-radius: 20px;
  color: white;
  max-width: fit-content;
  min-height: fit-content;
}

.route-card-load:hover {
  background-color: #6fbd77;
  cursor: pointer;
}

.route-card-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

/* ------- LOGIN -------- */

.mw-right {
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
}

.alt-wrapper {
  background-color: #320070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 80px;
}

.alt-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.alt-wrapper h2 {
  color: #f3f3f3;
  font-size: 32px;
  font-weight: 700;
}

.alt-wrapper p {
  color: #c0c0c0;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  max-width: 250px;
}

.auth-btn,
.alt-btn,
.signup-btn {
  border-radius: 10px;
  padding: 10px 60px;
  background-color: transparent;
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
  font-weight: bold;
  cursor: pointer;
}

.form-wrapper,
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper h2 {
  color: #320070;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0 80px;
}

.form-field {
  border: none;
  background-color: rgb(209, 209, 209);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.form-field-name {
  display: flex;
  gap: 8px;
}

.form-field-name input {
  width: fit-content;
}

.signup-btn,
.signin-btn {
  background-color: #320070;
  border: none;
  width: 100%;
  padding: 16px 0;
  margin-top: 16px;
  color: #dfdfdf;
}

.hidden {
  display: none;
}
