{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block nav %}{% endblock %} {% block body %}

<div class="body-wrapper">
  <main class="main-wrapper mw-right">
    <div class="mw-nav-logo">
      <a href="/">
        <img
          class="nav-logo"
          src="/static/images/cadence-logo.png"
          alt="Cadence Logo"
        />
      </a>
    </div>
    <div class="alt-wrapper">
      <div class="alt-content sign-in-text hidden">
        <h2 class="alt-title">Welcome 👋</h2>
        <p class="alt-text">
          Login with your personal details to map a new route
        </p>
      </div>
      <div class="alt-content sign-up-text">
        <h2 class="alt-title">Hey You!</h2>
        <p class="alt-text">
          New here? Enter your personal details to start your journey with us
        </p>
      </div>
      <button class="auth-btn alt-btn">Sign Up</button>
    </div>
    <div class="form-wrapper">
      <div class="form-content sign-up-form hidden">
        <h2>Create Account</h2>
        <form
          action="/users"
          method="POST"
          class="form-signup"
          enctype="multipart/form-data"
        >
          <div class="form-field-name">
            <input
              type="text"
              name="first_name"
              placeholder="First Name"
              class="form-field"
              required
            />
            <input
              type="text"
              name="last_name"
              placeholder="Last Name"
              class="form-field"
              required
            />
          </div>
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="form-field"
            required
          />
          <input
            type="text"
            name="email"
            placeholder="Email"
            class="form-field"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-field"
            required
          />
          <input type="file" name="user-img-file" class="form-field" />
          <input type="submit" value="Sign Up" class="signup-btn" />
        </form>
      </div>
      <div class="form-content sign-in-form">
        <h2>Sign In to Cadence</h2>
        <form action="/login" method="POST" class="form-signup">
          <input
            type="text"
            name="email"
            placeholder="Email"
            class="form-field"
            required
          />

          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-field"
            required
          />

          <input type="submit" value="Sign In" class="signin-btn" />
        </form>
      </div>
    </div>
  </main>
</div>
<script>
  const authBtn = document.querySelector(".auth-btn");
  const signInText = document.querySelector(".sign-in-text.hidden");
  const signUpText = document.querySelector(".sign-up-text");
  const signinContent = document.querySelector(".sign-in-form");
  const signupContent = document.querySelector(".sign-up-form.hidden");

  authBtn.addEventListener("click", (el) => {
    signinContent.classList.toggle("hidden");
    signupContent.classList.toggle("hidden");
    signInText.classList.toggle("hidden");
    signUpText.classList.toggle("hidden");

    el.target.textContent === "Sign Up"
      ? (el.target.textContent = "Sign In")
      : (el.target.textContent = "Sign Up");
  });
</script>
{% endblock %}
