<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="nav-wrapper">
      <ul class="nav-content">
          <li><a href="/" class="nav-logo">CADENCE</a></li>
          <li><a href="{{ url_for('display_home') }}">Explore</a></li>
          {% if 'user_id' in session %}
          <li><a href="{{ url_for('display_user', user_id=session['user_id']) }}">Profile</a></li>
          {% else %}
          <li><a href="{{ url_for('display_auth') }}">Profile</a></li>
          {% endif %}
          <li><a href="{{ url_for('logout_user') }}" class="logout"><span>Logout</span></i></a>
      </ul>
  </nav>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">{{ msg }}</p>
    {% endfor %} {% block body %}{% endblock %}
  </body>
</html>
