{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block body %}
<div class="main-wrapper">
  <div class="map-container">
    <div id="map"></div>
  </div>
  <div class="data-container">
    <div class="elevation-wrapper">
      <canvas id="myChart"></canvas>
    </div>
    <div class="buttons-wrapper">
      <!-- <h1 id="total-distance">Distance:</h1> -->
      <button class="clear-route">Clear Route</button>
      <!-- <button class="save-route">Save Route</button> -->
      <form id="save-route-form">
        <label for="title">
          Title:
          <input
            type="text"
            name="title"
            id="route-title"
            value="First Saved Route"
          />
        </label>
        <label for="distance">
          Distance:
          <input
            type="number"
            name="distance"
            id="total-distance"
            value="25.2"
          />
        </label>
        <label for="elevation_gain">
          Elevation Gain:
          <input
            type="number"
            name="elevation_gain"
            id="route-elevation"
            value="100"
          />
        </label>
        <label for="created_by">
          Created By:
          <input
            type="text"
            name="created_by"
            id="route-creator"
            value="Logged In User"
            disabled
          />
        </label>
        <button type="submit" class="save-route">Save Route</button>
      </form>
    </div>
    <div class="options-wrapper">
      <form id="options-form">
        <h2>Select run goals</h2>
        <label for="target-pace">
          Target Pace (min/km):
          <input
            type="number"
            id="target-pace"
            name="target-pace"
            min="1"
            step="0.01"
            placeholder="e.g., 5.0"
            required
          />
        </label>

        <h2>Select up to 5 Genres:</h2>
        <div class="genre-checkboxes">
          <label>
            <input type="checkbox" name="genre" value="pop" /> Pop
          </label>
          <label>
            <input type="checkbox" name="genre" value="rock" /> Rock
          </label>
          <label>
            <input type="checkbox" name="genre" value="hip-hop" /> Hip-Hop
          </label>
          <label>
            <input type="checkbox" name="genre" value="electronic" /> Electronic
          </label>
          <label>
            <input type="checkbox" name="genre" value="jazz" /> Jazz
          </label>
          <label>
            <input type="checkbox" name="genre" value="classical" /> Classical
          </label>
          <label>
            <input type="checkbox" name="genre" value="country" /> Country
          </label>
          <label>
            <input type="checkbox" name="genre" value="reggae" /> Reggae
          </label>
          <label>
            <input type="checkbox" name="genre" value="blues" /> Blues
          </label>
          <label>
            <input type="checkbox" name="genre" value="r&b" /> R&B
          </label>
        </div>
        <button type="submit">Generate Playlist</button>
      </form>
    </div>
  </div>
</div>
<div class="playlist-wrapper">
  <div class="playlist-container"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/static/js/map.js" async defer></script>
<script type="module" src="/static/js/elevation.js" async defer></script>
<script type="module" src="/static/js/main.js" async defer></script>
{% endblock %}
