{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block body %}
<div class="loaded-route" hidden data-route="{{ route }}"></div>
<div class="loaded-waypoints" hidden data-waypoints="{{ waypoints }}"></div>
<div class="mainpage-wrapper">
  <div class="map-container">
    <div id="map"></div>
  </div>
  <!-- <div class="data-wrapper"> -->
  <!-- <div class="expand-btn"><ion-icon name="arrow-dropleft"></ion-icon></div> -->
  <div id="data-container">
    <div class="buttons-wrapper">
      <div class="route-data-wrapper">
        <div class="distance-content">
          <button class="route-data-btn">
            <span id="total-distance" class="route-data-span metric">0 km</span>
          </button>
          <label for="total-distance" class="route-data-label">Distance</label>
        </div>
        <div class="elevation-content">
          <button class="route-data-btn">
            <span id="total-elevation" class="route-data-span metric">0 m</span>
          </button>
          <label for="total-elevation" class="route-data-label"
            >Elevation</label
          >
        </div>
      </div>
      {% if user == None %}
      <form id="save-route-form">
        <label for="route-title">
          <input
            disabled
            type="text"
            name="title"
            id="route-title"
            placeholder="Log in to save routes"
          />
        </label>
      </form>
      {% else %}
      <form id="save-route-form">
        <label for="route-title">
          <input
            required
            type="text"
            name="title"
            id="route-title"
            placeholder="Route Title"
          />
        </label>
        <div class="route-control">
          <div class="route-control-btns">
            <div class="locate-user rounded-btn">
              <ion-icon name="locate"></ion-icon>
            </div>
            <div class="clear-route rounded-btn">
              <ion-icon name="trash"></ion-icon>
            </div>
            <div class="undo-route rounded-btn">
              <ion-icon name="undo"></ion-icon>
            </div>
            <div class="redo-route rounded-btn">
              <ion-icon name="redo"></ion-icon>
            </div>
            <button type="submit" class="save-route rounded-btn">
              <ion-icon name="save"></ion-icon>
            </button>
          </div>
        </div>
      </form>
      {% endif %}
    </div>
    <div class="elevation-wrapper">
      <canvas id="myChart"></canvas>
    </div>
    <div class="generation-wrapper">
      <div class="options-wrapper">
        <form id="options-form">
          <h2>Select Run Preferences</h2>
          <label for="target-pace">
            Target Pace (min/km):
            <input
              type="number"
              id="target-pace"
              name="target-pace"
              min="1"
              step="0.01"
              placeholder="e.g., 5.0"
              required
            />
          </label>

          <h2>Select Music Preferences</h2>
          <label for="form-genres-wrapper">
            Select up to 5 genres:
            <div id="form-genres-wrapper">
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="pop" />
                <span class="form-label" for="genre">Pop</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="hip-hop" />
                <span class="form-label" for="genre">Hip-hop</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="rock" />
                <span class="form-label" for="genre">Rock</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="alternative" />
                <span class="form-label" for="genre">Alternative</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="jazz" />
                <span class="form-label" for="genre">Jazz</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="edm" />
                <span class="form-label" for="genre">EDM</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="country" />
                <span class="form-label" for="genre">Country</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="r-n-b" />
                <span class="form-label" for="genre">R&B</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="latin" />
                <span class="form-label" for="genre">Latin</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="k-pop" />
                <span class="form-label" for="genre">K-Pop</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="classical" />
                <span class="form-label" for="genre">Classical</span>
              </label>
              <label class="checkbox-field">
                <input type="checkbox" name="genre" value="metal" />
                <span class="form-label" for="genre">Metal</span>
              </label>
            </div>
          </label>
          <label for="target-popularity" class="target-popularity-container">
            Select target popularity (0-100):
            <input
              type="range"
              id="target-popularity"
              name="target-popularity"
              min="1"
              max="100"
              value="50"
              required
            />
          </label>
          <button type="submit" class="rounded-btn">Generate Playlist</button>
        </form>
      </div>
      <div class="playlist-wrapper hidden">
        <div class="playlist-control">
          <form id="generated-playlist">
            <label for="playlist-title">
              <input
                required
                type="text"
                name="title"
                id="playlist-title"
                placeholder="Playlist Title"
              />
            </label>
            <div class="playlist-control-btns">
              <div class="regenerate-playlist rounded-btn square-btn">
                <ion-icon name="refresh"></ion-icon>
              </div>
              <button
                type="submit"
                class="export-playlist rounded-btn square-btn"
              >
                <!-- <ion-icon name="download"></ion-icon> -->
                <ion-icon name="open"></ion-icon>
                <!-- <ion-icon name="arrow-round-up"></ion-icon> -->
                <!-- <ion-icon name="cloud-upload"></ion-icon> -->
                <!-- <ion-icon name="musical-notes"></ion-icon> -->
              </button>
              <div class="return-options rounded-btn">Back to Options</div>
            </div>
          </form>
        </div>
        <div class="playlist-container"></div>
      </div>
    </div>
  </div>
</div>
<script>
  const accessToken = "{{ access_token }}";
</script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/static/js/map.js" async defer></script>
<script type="module" src="/static/js/elevation.js" async defer></script>
<script type="module" src="/static/js/main.js" async defer></script>
{% endblock %}
