{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block body %}
<p>Hello</p>
<div>
  <canvas id="myChart" width="100%" height="200"></canvas>
</div>
<form id="new-elevation">
  <p>
    new elevation
    <input type="number" id="elevation-input" name="new-elevation" />
  </p>

  <p>
    <input type="submit" />
  </p>
</form>
<button id="delete-elevation">delete</button>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/static/js/elevation.js" async defer></script>
{% endblock %}
