{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block body %}
<h1>Playlist</h1>
<!-- <form id="new-elevation">
  <p>
    new elevation
    <input type="number" id="elevation-input" name="new-elevation" />
  </p>

  <p>
    <input type="submit" />
  </p>
</form> -->
<h2>Select run goals</h2>
<h2>Select music preferences</h2>
<script type="module" src="/static/js/playlist.js" async defer></script>
{% endblock %}
