{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block body %}
<!-- <h1>Hello, {{ user.username}}</h1> -->

<div class="body-wrapper">
  <main class="main-wrapper">
    <div class="saved-wrapper">
      <h1 class="saved-title">Saved Routes</h1>
      <ul>
        {% for route in user_routes %}
        <li class="route-card" data-route-id="{{ route.route_id }}">
          <div class="route-card-background">
            {% if route.image_url == '/images/default-map.jpg' %}
            <img
              src="{{ url_for('static', filename=route.image_url) }}"
              alt="saved route image"
              class="route-card-img"
            />
            {% else %}
            <img
              src="{{ route.image_url }}?access_token={{ access_token }}"
              alt="saved route image"
              class="route-card-img"
            />
            {% endif %}
            <div class="route-card-gradient"></div>
          </div>
          <div class="route-card-info">
            <h2 class="route-card-title">{{ route.title }}</h2>
            <p class="route-card-description">
              {% if route.description == None %} Click to add a description {%
              else %} {{ route.description }} {% endif %}
            </p>
            <div class="route-card-buttons">
              <div class="route-card-load">
                <a
                  href="{{ url_for('load_route', route_id=route.route_id) }}"
                  class="route-card-link"
                  >Load on Map</a
                >
              </div>
              <div class="route-card-delete">
                <form
                  action="{{ url_for('delete_route')}}"
                  method="POST"
                  class="route-card-form"
                >
                  <input
                    type="hidden"
                    name="route_id"
                    value="{{ route.route_id }}"
                  />
                  <button type="submit" class="route-card-delete-btn">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="user-wrapper">
      <button class="authorize-spotify">Link Spotify</button>
    </div>
  </main>
</div>
<script>
  const userRoutes = document.querySelectorAll(".route-card");
  userRoutes.forEach((route) => {
    const routeForm = route.querySelector(".route-card-form");

    routeForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      const routeId = route.getAttribute("data-route-id");
      const formData = new FormData(routeForm);
      formData.append("route_id", routeId);

      try {
        const response = await fetch(routeForm.action, {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          const data = await response.json();
          if (data.success) {
            route.remove();
          }
        } else {
          console.error("Failed to delete route.");
        }
      } catch (err) {
        console.error(err);
      }
    });
  });
</script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script type="module" src="/static/js/auth.js" async defer></script>
{% endblock %}
