{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block body %}
<h1>Hello, {{ user.username}}</h1>

<h2>Saved Routes:</h2>

<ul>
  {% for route in user_routes %}
  <li>
    {% if route.image_url == '/images/default-map.jpg' %}
    <img src="{{ url_for('static', filename=route.image_url) }}" alt="" />
    {% else %}
    <img
      src="{{ route.image_url }}?access_token={{ MAPBOX_ACCESS_TOKEN }}}"
      alt=""
    />
    {% endif %} {{ route.title }} - Distance: {{ "%.2f"|format(route.distance /
    1000) }} km
  </li>
  {% endfor %}
</ul>

{% endblock %}
