{% extends 'base.html' %} {% block title %}Cadence{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/css/styles.css" />
{% endblock %} {% block body %}
<div class="body-wrapper">
  <main class="main-wrapper">
    <div class="saved-wrapper">
      <h1 class="saved-title">Saved Routes</h1>
      <ul>
        {% for route in user_routes %}
        <li class="route-card" data-route-id="{{ route.route_id }}">
          <div class="route-card-background">
            {% if route.image_url == '/images/default-map.jpg' %}
            <img
              src="{{ url_for('static', filename=route.image_url) }}"
              alt="saved route image"
              class="route-card-img"
            />
            {% else %}
            <img
              src="{{ route.image_url }}?access_token={{ access_token }}"
              alt="saved route image"
              class="route-card-img"
            />
            {% endif %}
            <div class="route-card-gradient"></div>
          </div>
          <form
            action="{{ url_for('update_route')}}"
            method="POST"
            class="route-card-info"
          >
            <input
              required
              onClick="this.select();"
              type="text"
              name="route-title"
              class="route-card-title"
              value="{{ route.title}}"
            />
            <input
              required
              onClick="this.select();"
              type="text"
              name="route-description"
              class="route-card-description"
              value="{% if route.description == None %}Click to add a description{%
              else %}{{ route.description }}{% endif %}"
            />
            <div class="route-card-buttons">
              <div class="route-card-load">
                <a
                  href="{{ url_for('load_route', route_id=route.route_id) }}"
                  class="route-card-link"
                  >Load on Map</a
                >
              </div>
              <div class="route-card-delete">
                <input
                  type="hidden"
                  name="route_id"
                  value="{{ route.route_id }}"
                />
                <button
                  formaction="{{ url_for('delete_route')}}"
                  class="route-card-delete-btn"
                >
                  <ion-icon name="trash"></ion-icon>
                </button>
              </div>
              <button type="submit" class="route-card-update">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </div>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="user-wrapper">
      <div class="user-card-content">
        <div class="user-card-details">
          <div class="user-img">
            {% if 'user_id' in session and user.profile_url != None %}
            <img src="{{ user.profile_url }}" class="user-profile-image" />
            {% else %}
            <ion-icon name="person"></ion-icon>
            {% endif %}
          </div>
          <form
            action="{{ url_for('update_user_image') }}"
            method="POST"
            enctype="multipart/form-data"
            class="update-user-form"
          >
            <input type="file" name="user-img-file" hidden />
            <label for="upload">
              <ion-icon name="create"></ion-icon>
            </label>
            <input type="hidden" name="user_id" value="{{ user.user_id }}" />
            <input type="submit" hidden />
          </form>
        </div>
        <div class="user-card-form">
          <form action="/users" method="POST" class="form-signup">
            <div class="form-field-name">
              <input
                type="text"
                name="first_name"
                placeholder="First Name"
                class="form-field"
              />
              <input
                type="text"
                name="last_name"
                placeholder="Last Name"
                class="form-field"
              />
            </div>
            <input
              type="text"
              name="username"
              placeholder="Username"
              class="form-field"
            />
            <input
              type="text"
              name="email"
              placeholder="Email"
              class="form-field"
            />
            <input
              type="password"
              name="current-password"
              placeholder="Current Password"
              class="form-field"
            />
            <input
              type="password"
              name="new-password"
              placeholder="New Password"
              class="form-field"
            />
            <input type="submit" value="Update Info" class="rounded-btn" />
          </form>
        </div>
      </div>
      <div class="user-card-buttons">
        <div class="logout-button">
          <a href="{{ url_for('logout_user') }}" class="logout"
            ><span>Logout</span></a
          >
        </div>
        <button class="authorize-spotify rounded-btn">Link Spotify</button>
      </div>
    </div>
  </main>
</div>
<script>
  const userRoutes = document.querySelectorAll(".route-card");
  userRoutes.forEach((route) => {
    const routeForm = route.querySelector(".route-card-info");
    const deleteButton = route.querySelector(".route-card-delete-btn");

    routeForm.addEventListener("submit", async (e) => {
      e.preventDefault();

      const routeId = route.getAttribute("data-route-id");

      const formData = new FormData(routeForm);
      formData.append("route_id", routeId);
      console.log(formData);

      try {
        const response = await fetch("/update-route", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          const data = await response.json();
          if (data.success) {
            console.log("Updating route!");

            // Call function to update elements
            const titleElement = document.querySelector(".route-card-title");
            const descriptionElement = document.querySelector(
              ".route-card-description"
            );

            const newTitle = formData.get("route-title");
            const newDescription = formData.get("route-description");

            titleElement.textContent = newTitle;
            descriptionElement.textContent = newDescription;
          }
        } else {
          console.error("Failed to update route.");
        }
      } catch (err) {
        console.error(err);
      }
    });

    deleteButton?.addEventListener("click", async (e) => {
      e.preventDefault();
      const routeId = route.getAttribute("data-route-id");
      const formData = new FormData(routeForm);
      formData.append("route_id", routeId);

      try {
        const response = await fetch(deleteButton.formAction, {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          const data = await response.json();
          if (data.success) {
            route.remove();
          }
        } else {
          console.error("Failed to delete route.");
        }
      } catch (err) {
        console.error(err);
      }
    });
  });
</script>
<script type="module" src="/static/js/auth.js" async defer></script>
{% endblock %}
